.container {
  top: 294px;
  left: 712px;
  width: 496px;
  height: 554px;

  border: 1px solid #bdbdbd;
  border-radius: 8px;
  opacity: 1;
}
.para {
  width: 227px;
  height: 93px;
  margin-bottom: 80px;

  text-align: center;
  font: normal normal normal 16px/24px Poppins;
  letter-spacing: 0.15px;
  color: #000000;
  opacity: 1;
}
.para > p {
  text-align: center;
  font: normal normal normal 16px/24px Poppins;
  letter-spacing: 0.15px;
  font-size: 16px;
  margin-top: 169px;
  margin-left: 50px;
  color: #000000;
  opacity: 1;
  position: fixed;
}

.container > p {
  width: 270px;
  height: 86px;
  margin-bottom: 420px;
  text-align: center;
  font: normal normal 600 40px/60px Poppins;
  letter-spacing: 0.29px;
  color: #008037;
  opacity: 1;
}
.tons {
  top: 304px;
  left: 889px;
  width: 142px;
  height: 27px;

  border-radius: 4px;
  opacity: 1;
}
.tons > p {
  margin-left: 40px;
  text-align: center;
  background: #aad4bc 0% 0% no-repeat padding-box;
}
